body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container1 {
    width: 17%;
    height: 100%;
    float: left;

    position: absolute;
}

.container2 {
    width: 83%;
    height: 100%;
    float: right;
    background-color: lightblue;
    border-collapse: collapse;
}

.toppane {
    width: inherit;
    height: 20%;
    position:fixed;
    top: 0;
    border-collapse: collapse;
    background-image: linear-gradient(lightblue, white);
  }

.toppane h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: 120%;
}

.leftpane {
    width: 100%;
    /*height: inherit;*/
    position:relative;
    height: 70%;
    top: 20%;
    background-color: rgb(64, 151, 180);
    border-collapse: collapse;
    overflow-y: scroll;
}

.bottompane {
    width: inherit;
    height: 10%;
    position: fixed;
    bottom: 0;
    border-collapse: collapse;
    background-image: linear-gradient(lightblue, white);
}

.bottompane:hover {
    color: rgb(64, 151, 180);
    cursor: pointer;
}

.bottompane span {
    height: 10%;
}

.bottompane h3 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
}

.middlepane {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    border-collapse: collapse;
}

.pageTitle {
    font-size: 300%;
    font-variant: small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10%;
    left: 12.5%;
}

.newButton {
    background-color: rgb(64, 151, 180);
    border: 1px solid #0b1319;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
    width: 7%;
    left: 80%;
}

.highlight {
    width: 100%;
    height: 1px; 
    position: absolute;
    left: 0;
}


button:hover .highlight {
    opacity: 1;
}

button:hover {
    color: #FFF;
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

/* Thick red border */
hr {
    position: relative;
    border: 1px solid rgb(114, 112, 112);
    width: 75%;
}


